@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Paars-color: #5722CD;
    --Blauw-color: #4845E4;
    --Roze-color: #ED4385;
    --Zwart-color: #0C0C0C; /* (voor standaard tekst)*/
    --Lichtpaars-color: #F2F0FF; /* (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:*/
    --Lichtgrijs-color: #F3F6F9; /*(voor de achtergrond van de projecten)*/
    --Grijs-color: #7A7A7A; /*(voor de service-tegels tekst)*/

}

/* ------------------------------- 2. Typography ----------------------------------- */
h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", serif;
}

body {
    font-family: "Roboto", sans-serif;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
.inner-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    max-width: 1100px;
    text-align: center;
    justify-content: space-between;
    gap: 50px;

}

button {
    background-color: var(--Roze-color);
    border: none;
    color: white;
    padding: 30px 50px;
    text-transform: uppercase;
    border-radius: 50px;
    font-size: 18px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.12);
    letter-spacing: 0.7px;
}


/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
header {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--Blauw-color);
    background: linear-gradient(90deg, rgba(72, 69, 228, 1) 0%, rgba(87, 34, 205, 1) 100%);
    color: white;
    height: 870px;
    justify-content: space-between;
}

header h1 {
    font-size: 60px;
}

header p {
    font-size: 36px;
    font-weight: 200;
}

.navigation-section {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 25px;
}


.navigation-section ol {
    list-style: none;
}

.navigation-link {
    display: inline-block;
    padding: 40px 70px 0 0;
}

.navigation-link a {
    text-decoration: none;
    color: white;
    font-weight: 200;


}

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */