@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Paars-color: #5722CD;
    --Blauw-color: #4845E4;
    --Roze-color: #ED4385;
    --Zwart-color: #0C0C0C; /* (voor standaard tekst)*/
    --Lichtpaars-color: #F2F0FF; /* (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:*/
    --Lichtgrijs-color: #F3F6F9; /*(voor de achtergrond van de projecten)*/
    --Grijs-color: #7A7A7A; /*(voor de service-tegels tekst)*/

}

a,
a:visited,
a:link {
    text-decoration: none;
    color: var(--Paars-color);
}
/* ------------------------------- 2. Typography ----------------------------------- */
h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", "Times New Roman", serif;
}
h1, h2{
    font-size: 48px;
    padding: 16px 0;
}

h6{
    font-size: 32px;
    line-height: 1.5;
    padding: 12px 0;
}

p{
    margin: 12px 0;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
.outer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-container {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    align-items: center;
    flex-basis: 1400px;
    flex-shrink: 1;
    flex-grow: 0;

}

.text-break {
    max-width: 850px;
    text-align: center;
}

.extra-padding {
    padding: 100px 0;
}


/* --------------- 3.2 Other --------------------------- */
button {
    background-color: var(--Roze-color);
    border: none;
    color: white;
    padding: 30px 50px;
    text-transform: uppercase;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 300;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.12);
    letter-spacing: 1px;
    margin: 28px 0;
}

button:hover {
    cursor: pointer;
}

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
header {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Blauw-color);
    background: linear-gradient(90deg, rgba(72, 69, 228, 1) 0%, rgba(87, 34, 205, 1) 100%);
    color: white;
}

.header-content {
    padding: 100px 0;
    margin-bottom: 90px;
    font-size: 30px;
}

.navigation-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;

}

.navigation-section ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 400px;
    list-style-type: none;
    flex-shrink: 1;
    flex-grow: 0;
}
.navigation-section a{
    color: white;
}



/* --------------- 4.2 Introduction ------------------- */
#introduction {
    background-color: white;
    color: var(--Paars-color);
}

.contact-link{
    color: var(--Zwart-color);
    font-weight: 500;
    margin-top: 100px;
}
/* ------------------------------- 5. Media Queries -------------------------------- */